<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
  <h1>User Account Details</h1>
  <p>Username: <%= username %></p>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
