<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
  <h1>Consent for OAuth</h1>
  <form method="POST" action="/dialog/authorize/decision?transaction_id=<%= transactionID %>">
      <button type="submit">I Accept</button>
  </form>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
