<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1><%= title %></h1>
        <p>You are currently logged in as: <%= (user && user.username) || '[anonymous]' %></p>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
