<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
  <h1>You Have Successfully Logged Out</h1>
  <a href="/" role="button" class="btn btn-primary">Home</a>
  <a href="/login" role="button" class="btn btn-success">Login</a>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
