<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
  <h1>Login to Authentization</h1>
  <form method="POST" action="/login">
      <div class="form-group">
        <label for="username">username:</label>
        <input class="form-control" id="username" type="text" name="username">
      </div>
      <div class="form-group">
        <label for="password">password:</label>
        <input class="form-control" id="password" type="password" name="password">
      </div>
      <button type="submit">Log In</button>
  </form>
  <br />
  <a href="auth/google" role="button" class="btn btn-primary">Login with Google</a>
  <a href="auth/github" role="button" class="btn btn-success">Login with GitHub</a>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
