<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
  <h1>New User Registration</h1>

  <% if (typeof error != undefined) { %>
  <div class="alert alert-error">
    <h4>ERROR attempting to create user</h4>
  </div>
  <% } %>

  <form method="POST" action="/register">
    <div class="form-group">
      <label for="username">username:</label>
      <input class="form-control" id="username" type="text" name="username">
    </div>
    <div class="form-group">
      <label for="password">password:</label>
      <input class="form-control" id="password" type="password" name="password">
    </div>
    <button type="submit">Register New User</button>
  </form>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>
